# Byte-compiled files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# IDEs
.idea/
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# OS junk
.DS_Store
Thumbs.db

# Large files
*.pdf
*.zip
*.tar.gz

#Folders
Mini corpora/